<div class="content">
  <!--Content Head-->
  <div class="content-head">
    <h3>Top Stories</h3>
    <p>Up-to-date Top Stories coverage.</p>
  </div>

  <!-- Content Body -->
  <div class="content-body">
    <div class="row">

      <div class="col-sm-4" *ngFor="let _story of _stories">
        <div class="card">
          <a href={{_story.url}} target="blank_">
            <img class="card-img-top" src={{_story.urlToImage}} alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text">{{_story.title}}</h5>
              <p class="date text-left">{{_story.publishedAt | date }}</p>
              <div class="card-footer">
                <small class="text-muted">{{_story.author}}</small>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
