<nav>

  <div id="heading">
    <h3 class="full-heading">NewsFeed</h3>
    <h3 class="short-title">NF</h3>
  </div>

  <ul>
    <li>
      <a routerLink="">
        <span class="icon-space">
          <i class="fas fa-newspaper"></i>
        </span>
        <span class="link-name">Top Stories
          <span class="tooltip"></span>
        </span>
      </a>
    </li>

    <li>
      <a routerLink="local-news">
        <span class="icon-space">
          <i class="fas fa-map-marked-alt"></i>
        </span>
        <span class="link-name">Local News
            <span class="tooltip"></span>
        </span>
      </a>
    </li>

    <li>
      <a routerLink="world-news">
        <span class="icon-space">
          <i class="fas fa-globe-africa"></i>
        </span>
        <span class="link-name">World News</span>
      </a>
    </li>

    <li>
      <a routerLink="business">
        <span class="icon-space">
          <i class="fas fa-briefcase"></i>
        </span>
        <span class="link-name">Business</span>
      </a>
    </li>

    <li>
      <a routerLink="entertainment">
        <span class="icon-space">
          <i class="fas fa-film"></i>
        </span>
        <span class="link-name">Entertainment</span>
      </a>
    </li>

    <li>
      <a routerLink="technology">
        <span class="icon-space">
          <i class="fas fa-mobile-alt"></i>
        </span>
        <span class="link-name">Technology</span>
      </a>
    </li>

    <li>
      <a routerLink="sports">
        <span class="icon-space">
          <i class="fas fa-basketball-ball"></i>
        </span>
        <span class="link-name">Sports</span>
      </a>
    </li>

    <li>
      <a routerLink="science">
        <span class="icon-space">
          <i class="fas fa-flask"></i>
        </span>
        <span class="link-name">Science</span>
      </a>
    </li>

    <li>
      <a routerLink="health">
        <span class="icon-space">
          <i class="fas fa-briefcase-medical"></i>
        </span>
        <span class="link-name">Health</span>
      </a>
    </li>
  </ul>
</nav>
