nav{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  margin: 0;
}

#heading h3{
  padding: 15px;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li{
  padding: 15px;
}

ul li:hover{
  background-color: #F2F2F2;
  margin: 0; 
}

a{
  color: #111517;
  text-decoration: none;
}
