<nav>

    <div id="heading">
        <h3>NewsFeed</h3>
    </div>

  <ul>
    <li>
      <span class="icon-space"><i class="fas fa-newspaper"></i></span>
      <a routerLink="">Top Stories</a>
    </li>

    <li>
      <span class="icon-space"><i class="fas fa-map-marked-alt"></i></span>
      <a routerLink="local-news">Local News</a>
    </li>

    <li>
      <span class="icon-space"><i class="fas fa-globe-africa"></i></span>
      <a routerLink="world-news">World News</a>
    </li>

    <li>
      <span class="icon-space"><i class="fas fa-briefcase"></i></span>
      <a routerLink="business">Business</a>
    </li>

    <li>
      <span class="icon-space"><i class="fas fa-film"></i></span>
      <a routerLink="entertainment">Entertainment</a>
    </li>

    <li>
      <span class="icon-space"><i class="fas fa-mobile-alt"></i></span>
      <a routerLink="technology">Technology</a>
    </li>

    <li>
      <span class="icon-space"><i class="fas fa-basketball-ball"></i></span>
      <a routerLink="sports">Sports</a>
    </li>

    <li>
      <span class="icon-space"><i class="fas fa-flask"></i></span>
      <a routerLink="science">Science</a>
    </li>

    <li>
      <span class="icon-space"><i class="fas fa-briefcase-medical"></i></span>
      <a routerLink="health">Health</a>
    </li>
  </ul>
</nav>
