<nav>

    <div id="heading">
        <h3>NewsFeed</h3>
    </div>

  <ul>
    <li>
      <a routerLink="">Breaking News</a>
    </li>

    <li>
      <a routerLink="local-news">Local News</a>
    </li>

    <li>
      <a routerLink="world-news">World News</a>
    </li>

    <li>
      <a routerLink="business">Business</a>
    </li>

    <li>
      <a routerLink="entertainment">Entertainment</a>
    </li>

    <li>
      <a routerLink="technology">Technology</a>
    </li>

    <li>
      <a routerLink="sports">Sports</a>
    </li>

    <li>
      <a routerLink="science">Science</a>
    </li>

    <li>
      <a routerLink="health">Health</a>
    </li>
  </ul>
</nav>
