<div class="content">
  <div class="content-head">
    <h3>Health News</h3>
    <p>Up-to-date Health News coverage.</p>
  </div>

  <!-- Content Body -->
  <div class="content-body">
    <div class="row">

      <div class="col-sm" *ngFor="let health of healthnews">
        <div class="card">
          <a href={{health.url}} target="blank_">
            <img class="card-img-top" src={{health.urlToImage}} alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text">{{health.title}}</h5>
              <p class="date text-left">{{health.publishedAt | date }}</p>
              <div class="card-footer">
                <small class="text-muted">{{health.author}}</small>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
